
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index2</title>
</head>
<body>
    <div> 
        <hr />
        <p>@ViewBag.Bilgeadam</p>
        <hr />
        <p>@TempData["metin"]</p>
    </div>
</body>
</html>
