
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>@ViewData["Mesaj 1"]</p>
        <hr />
        <p>@ViewData["Mesaj 2"]</p>
    </div>
</body>
</html>
